<c-row>
    <c-col [sm]="3">
        <c-row class="post-row">
            <c-col [sm]="12">
                <c-header-brand [routerLink]>Posts</c-header-brand>
            </c-col>
        </c-row>
        <app-postslist [posts]="posts()" (onSelectedPost)="onSelectedPost($event)"></app-postslist>
    </c-col>
    <c-col [sm]="9" *ngIf="selectedPost()">
        <app-postdetail [selectedPost]="post()" [selectedUser]="user()"></app-postdetail>
        <app-comments [comments]="comments()"></app-comments>
    </c-col>
</c-row>