<c-navbar [placement]="'sticky-top'" colorScheme="dark" expand="lg" class="bg-dark">
    <c-container>
        <a cNavbarBrand (click)="goToPage('')" target="_blank">
            Angular Signal
        </a>
        <c-navbar-nav class="me-auto mb-2 mb-lg-0 justify-content-start">
            <c-nav-item (click)="goToPage('')">
                <a cNavLink>Users</a>
            </c-nav-item>
        </c-navbar-nav>
    </c-container>
</c-navbar>
<c-container class="padding-top15">
    <router-outlet></router-outlet>
</c-container>