/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
// @import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-top5 {
    padding-top: 5px;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-top15 {
    padding-top: 15px;
}

.padding-bottom5 {
    padding-bottom: 5px;
}

.padding-bottom10 {
    padding-bottom: 10px;
}

.padding-bottom15 {
    padding-bottom: 15px;
}

.padding-left5 {
    padding-left: 5px;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-left15 {
    padding-left: 15px;
}

.padding-right5 {
    padding-right: 5px;
}

.padding-right10 {
    padding-right: 10px;
}

.padding-right15 {
    padding-right: 15px;
}

.post-detail {
    margin: 15px;
    border: 1px solid #e9ecef24;
    border-radius: 5px;
}

.post-detail:hover {
    cursor: pointer;
}

.post-row {
    margin: 10px;
}

.post-body {
    font-size: 16px;
    text-align: justify;
}

.post-author {
    font-size: 14px;
    text-align: right;
    color: #e9ecef73;
}

.post-views {
    font-size: 14px;
    text-align: left;
    color: #e9ecef73;
}